<div class="container-fluid m-t">

  <div class="row">
    <div class="col-auto">
      <app-add-client></app-add-client>
    </div>
    <div class="col-auto">
      <app-edit-client></app-edit-client>
    </div>
    <div class="col-auto">
      <button class="btn btn-danger" [ngClass]="{'disabled' : selectedRow==null}" (click)="deleteClient()">Delete
      </button>
    </div>
  </div>

  <table class="table table-striped table-bordered m-t">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of allClients; let i = index;" (click)="selectClient(client.clientId, i)"
        [class.active]="i == selectedRow">
      <td>{{i + 1}}</td>
      <td><a routerLink="/statistics/{{client.clientId}}">{{client.name}}</a></td>
    </tr>
    </tbody>
  </table>
</div>
